 :root {
    --background: rgb(47 47 57);
    --color: rgb(171 126 249 / 77%) !important;
 }

body {
    background: var(--background);
    color: var(--color);
    margin: 1rem;
}

h1 {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 3rem;
    margin: 2rem 2rem;
    text-align: center;
}

form {
    margin: 2rem auto 0 auto;
    max-width: 30em;
    min-width: 16rem;
    padding: 1.4rem;
    border: 2px solid white;
    box-shadow: 0px 0px 16px -1px white;
}

form p {
    display: flex;
    justify-content: space-between;
    min-height: 1.6em;
}

form p input {
    border-radius: 5px;
}

input[type="date"], input[type="text"], input[type="number"] {
    min-width: 14rem;
}

input[type="submit"], input[type="reset"] {
    padding: 0 0.6rem;
}

.meta span {
    color: white;
}

.customer-link {
    font-size: 1.65rem;
    text-align: center;
}

.customerCtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ui.card {
    margin: 1.8rem !important;
    border: 2px dashed lightblue;
    box-shadow: none;
    background: transparent;
    transition: all 0.5s;
    transform: scale(1);
}

.ui.card:hover {
    transform: scale(1.04);
}

.ui.card:hover, .ui.card:hover .content p.header {
    -webkit-box-shadow: 5px 5px 25px 10px var(--color);
    box-shadow: 5px 5px 25px 10px var(--color);
    transition: all 0.5s;
}

.ui.card .content p.header {
    background: var(--background);
    border: 2px solid lightblue;
    border-radius: 5px;
    padding: 0.75rem 0.4rem;
    margin-top: -2.0rem !important;
    margin-bottom: 0.5rem;
    color: var(--color);
    transition: all 0.5s;
    transform: scale(1);
}

.ui.card .content p.header a {
    float: right;
    margin: 0 0.2rem;
}

.ui.card .content p.header i {
    float: right;
    height: auto;
    border-radius: 0.4rem;
}

.description {
    color: var(--color) !important;
}

.content>.description:before {
    content: "🗺 ";
}

.ui.card>:last-child, .ui.cards>.card>:last-child {
    border-radius: 5px !important;
    background: var(--color);
    margin: 0.5em 1em;
}

i.edit.alternate.outline.icon {
    padding-right: 0.20rem;
    padding-left: 0.15rem;
}

i.trash.alternate.outline.icon:hover, a i.edit.alternate.outline.icon:hover {
    transform: scale(1.4);
    border: 1px solid white;
    border-radius: 0.4rem;
}

i.trash.alternate.outline.icon, a i.edit.alternate.outline.icon {
    transition: 0.6s;
}

.extra a {
    color: white !important;
}

.extra a:hover {
    color: var(--background) !important;
}

.extra a span:last-child {
    float: right;
}

#update-toast, #error-toast {
    display: none;
    border: 2px solid white;
    background-color: white;
    font-weight:800;
    min-height: 3rem;
    width:fit-content;
    padding: 1rem;
    border-radius:0.4rem;
    margin: 2em auto 0 auto;
}

#update-toast {
    text-shadow: 0 0 black;
}

#error-toast {
    background-color: #f76a6a;
    color: black;
}

#footer-link{
    padding-bottom: 2rem;
}

@media screen and (max-width: 698px) {
    .ui.card {
        flex-basis: 85%;
    }
}